body {
	background-color: #0A4E90;
}

div.farewell_message {
	width: 500px;
	margin: 25px auto 0 auto;
	line-height: 1.5;
	background-color: #fff;
	border: 1px solid #eee;
}

div.farewell_message p {
	padding: 25px;
	font-size: 16px;
	text-align: justify;
	font-family: georgia, serif;
}

div.visitweb {
	padding-bottom: 30px;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
	background-color: #f44a56;
	padding: 15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}