div.header {
	height: 200px;
	background-color: #0a4e90;
}

div.header .logo {
	text-align: left;
}

div.navigation ul {
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	background-color: #134779;
	margin-left: 0px ;
	text-align: center;
}

div.navigation ul li {
	display: inline-block;
	margin-left: 30px;
	height: 50px;
	line-height: 50px;
}

div.navigation ul li a {
	color: #fff;
	text-decoration: none;
	padding: 17px;
}

div.navigation ul li a:hover {
	background-color: #db3c14;
}

div.navigation #donate {
	background-color: #db3c14;
}

/* Footer */

div.footer {
	background-color: #ECEEF1;
	height: 300px;
	text-align: center;
	padding-top: 50px;
}

div.footer h5 {
	border-bottom: 1px solid #34495E;
	width: 150px;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}

div.footer h5 span {
	text-transform: none;
	font-style:italic;
	font-size: 12px;
}

div.footer img {
	padding-top: 15px;
}

div.footer ul {
	list-style: none;
	margin-left: 0px;
}

div.footer ul li a  {
	text-decoration: none;
	color: #34495e;
}

/* Jumbotron Area */

div.jumbotron {
	padding-top: 20px;
}

/*Below Jumbo*/

div.nyt_video {
	margin-top: 20px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

div.nyt_video h4 {
	text-align: center;
	padding-top: 10px;
}

div.nyt_video a {
	text-decoration: none;
}

div.news {

}

div.news h2 {
	border-bottom: 3px solid #eee;
	font-weight: 300;
	width: 100%;
	margin-bottom: 10px;
}

div.news h3 {
	border-bottom: 3px solid #eee;
	font-weight: 300;
	width: 90%;
}

div.news blockquote {
	width: 80%;
	margin: 25px auto 25px auto;
}

div.story {
	width: 84%;
	border-bottom: 2px solid #eee;
	padding-right: 20px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: background-color .6s ease-in-out;
	   -moz-transition: background-color .6s ease-in-out;
	        transition: background-color .6s ease-in-out;
}

div.story:hover {
	background-color: #ECEEF1;
}

div.story h5 {
	text-transform: none;
	font-size: 17px;
}

div.story p {
	color: black;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.social {
	margin-left: 0px;
}

div.social h3 {
	border-bottom: 3px solid #eee;
	font-weight: 300;
}


div.event-details {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

/* About Page */

div.about-body {
	font-size: 16px;
	color: #333;
	font-weight: 300;
	line-height: 25px;
	font-family:  Helvetica, Arial, sans-serif;
	text-align: justify;
	text-indent: 40px;
}

#guliani {
	float: right;
	font-family: Georgia, serif;
	font-size: 12px;
	font-style: italic;
	padding-left: 30px;
	padding-top: 10px;
}

#guliani p {
	border-bottom: 2px solid #eee;
	margin-bottom: 30px;
}

/* Media Page */

.media-block {
	border-bottom: 3px solid #eee;
	padding: 10px;
	margin-bottom: 10px;
	height: 145px;
}

.media-block:hover {
	background-color: #eee;
}

.media-headline {
	padding-bottom: 10px;
}

.media-body {
	padding-top: 20px;
	width: 90%;
	font-size: 90%;
	margin: 0 auto;
}

/* Issues Page*/

.issue {
	text-align: justify;
	margin-bottom: 50px;
	font-size: 16px;
	color: #333;
	font-weight: 300;
	line-height: 25px;
	font-family:  Helvetica, Arial, sans-serif;
}

/* Donate Page */

.donate-body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
}